<div class="user-elem">
  <div class="col s3" >
    <div class="card user" appHover>
      <div [ngClass]="{
        'card-image user__image': true, 
        'user__image-active': isCurrentReady(),
        'user__image-loading': loading()
      }" (click)="retrieveUsersByPhotoId()">
        <!--<img src="{{ user.image }}">-->
        <img src="{{getImage()}}">
        <!--<img data-ng-src="{{image.base64Photo}}"/>-->
      </div>
    </div>
  </div>
</div>

