@keyframes active 
  0%
    opacity: 0.3;
  100%
    opacity: 1;

.user-elem
  display: flex
  align-items: center
  width: 170px
  height: 185px
  margin: 15px auto
  padding: 0
.user__image
  display: flex
  align-items: center
  flex-direction: column
  width: 155px
  height: 185px
  margin: 0px auto
  padding-left: 2.5px
  transition: opacity 1s;
  img
    border: 3px solid #F89F78EC
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    -o-border-radius: 50%
    width: 134px
    height: 134px
  &-active
    animation-name: active;
    animation-direction: 1s;
    img 
      border: 3px solid green;
  &-loading
    opacity: 0.3;
  &-title
    display: flex
    width: 152.5px
    height: 42px
    text-align: center
    align-items: center
    font-size: 15px
    font-weight: 600
    margin-top: 12px