<div class="wrapper" (click)="getPayments()">
  <div [ngClass]="{
    'scroll__element-user': true, 
    'scroll__element-user-active': isReady(), 
    'scroll__element-user-loading': isLoading
  }">
    <img src="{{getUserImage()}}">
    <!--<img src="../../assets/img/kate-hudson.jpg" alt="">-->
  </div>
  <div class="scroll__element-title">
    <span style="text-align:center">{{user.name}}</span>
  </div>
</div>
 